.price 
    background-color: #e1e4e8
.price-container
    display: flex
    justify-content: center
    margin-top: 20px
.price-block
    margin: 0 70px
    &__price-container
        display: flex
        justify-content: center
    &__price
        transform: skewX(-20deg)
        background-image: linear-gradient(45deg, #098cfe, #02172A)
        color: white
        width: 150px
        height: 50px
        font-size: 20px
        font-weight: 600
        text-align: center
        line-height: 48px
        div
            transform: skewX(20deg)
    &__name
        text-align: center
        color: #033d6f
        font-size: 19px
        font-weight: 600
    &__line-container
        display: flex
        justify-content: center
    &__line
        background-color: #005eb0
        height: 3px
        width: 170px
    &__list-container
        display: flex
        justify-content: center
    &__list
        height: 190px
        margin: 25px 0 0 0
        padding-left: 30px
        list-style-type: none
        li 
            position: relative
            font-size: 17px
            font-weight: 300
            line-height: 24px
            margin-bottom: 10px
            &.bold
                font-weight: bold
            &:before
                content: ''
                display: block
                position: absolute
                left: -32px
                top: 3px
                width: 21px
                height: 21px
                background: url("../icons/checked.png") center center/cover no-repeat
            &.unchecked:before        
                background: url("../icons/unchecked.png") center center/cover no-repeat
    &__button-container
        display: flex
        justify-content: center
        margin-bottom: 30px
        button
            width: 90px
            height: 35px
            color: white
            padding: 0 5px
            border-radius: 10px
            border: none
            background-color: #329ffe
@media (max-width: 1194px)   
    .price-block
        margin: 0 40px
@media (max-width: 1018px)   
    .price-block
        margin: 0 20px
@media (max-width: 891px)   
    .price-block
        margin: 0 15px
        &__price
            width: 120px
            font-size: 18px
        &__name
            font-size: 17px
        &__line
            width: 140px
        &__list
            li
                font-size: 15px
@media (max-width: 786px)
    .price-block
        &__list
            height: 245px
@media (max-width: 580px)
    .price-block
        &__list
            margin-top: 15px
            li
                font-size: 14px
                &:before
                    width: 16px
                    height: 16px
@media (max-width: 555px)
    .price
        padding-bottom: 0
    .price-container
        flex-direction: column
    .price-block
        width: 290px
        height: 300px
        border: 1px solid gray
        border-radius: 20px
        padding: 10px
        margin-bottom: 20px
        margin-left: calc(50% - 145px)
        &__list
            height: auto
            li
                font-size: 15px
                &:before
                    width: 20px
                    height: 20px
        &__button-container            
            margin-bottom: 50px
        &:last-child
            height: 350px

